@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Pacifico&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    
} 
body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(14,36,73,1) 79%);
    background-repeat: no-repeat;
    background-size: 1500px  1000px;
}
.cardsDivWrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsWrapper {
    display: grid;
    margin-top: 15px;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
}
.cards {
    /* border: solid; */
    width: 100px;
    height: 100px;
}
.headerMasterWrapper {
    font-family: 'Bungee Spice', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 40px;
    padding: 15px;
}
.headerTextContent {
    margin-left: 40px;
}
#LearnerImage {
    width: 40px;
    height: 100%;
}